################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/TDSPG.API/appsettings.Development.json
/.vs
/TDSPG.MachineLearning/bin/Debug/net8.0
/TDSPG.MachineLearning/obj
